.filterItem {
}

.filterItemButton {
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 15px;
    text-transform: capitalize;
}

.subFilterItemsList {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 276px;
}

.subFilterItem {
    margin: 5px;
}