.appliedFilters {
  margin-top: 20px;
}

.list {
  display: inline;
}

.item {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.title {
  padding: 5px 10px;
  display: inline-block;
}

.removeFilter {
  background: none;
  border: none;
  border-left: 1px solid #ddd;
  height: 28px;
}

.description,
.noneText {
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
  height: 30px;
  margin-top: 6px;
  vertical-align: top;
}

.noneText {
  font-weight: 400;
}

.button {
  height: 30px;
}