.list {
    display: flex;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px;
}

.listItem {
    margin-right: 10px;
    text-transform: capitalize;
}

.moreFilters {
    display: none;
}

@media (max-width: 1024px) {
    .list > .listItem:nth-child(2) ~ .listItem:not(.moreFilters) {
        display: none;
    }

    .moreFilters {
        display: initial;
    }

    :global(.moreItemsDropdown) {
        .listItem:not(:last-child) {
            border-bottom: 1px solid #999;
        }
    }
}
