.wrap {

}

.list {
    display: flex;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px;
}

.listItem {
    margin-right: 10px;
    text-transform: capitalize;
}

@media (max-width: 1024px) {
    .listItem:nth-child(2) ~ .listItem:not(.moreFilters) {
        display: none;
    }
}
