.app {
  padding: 10px;

  * {
    box-sizing: border-box;
  }
}

.logoImage {
  display: inline-block;
  pointer-events: none;
  width: 80px;
  vertical-align: middle;
}

.logoText {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}